/* header */

.header-superiore {
    background-color: black;
    height: 25px;
}

.header-superiore span {
    float: right;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    margin-right: 10px;
    line-height: 25px;
    vertical-align: middle;
}

.header-inferiore {
    height: 70px;
}

.seconda-lista-nav {
    list-style-type: none;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.seconda-lista-nav li {
    margin-right: 10px;
}

.nav-link {
    color: #0C0C0C !important;
}

.nav-link:hover {
    color: #0d6efd !important;
}

#my-button {
    background-color: #363636;
    font-size: 15px;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    border: 2px solid #363636;
    outline: 2px solid #363636;
}

#my-button:hover {
    border-color: white;
    filter: opacity(0.9);
}


.nav-item.dropdown {
    position: inherit;
    top: 93%;
}

.dropdown-menu[data-bs-popper] {
    top: 90%;
    left: -1px;
}

#lens {
    width: 25px;
}

.form-control {
    display: none;
    height: 30px;
}

.dropdown-menu {
    width: 100vw;
    min-height: 200px;
    text-align: center;
    background-color: white;
}

.dropdown-menu li  {
    display: inline-block;
}

.menu-inferiore {
    padding: 0 80px;
}

/* jumbo */

.jumbo {
    position: relative;
    margin-top: 95px;
}

.jumbo > img {
    width: 100%;
    min-height: 400px;
    object-fit: cover;
}

.jumbo-descrizione {
    position: absolute;
    bottom: 50px;
    left: 30px;
}

#banner-returnal {
    max-width: 25%;
    margin-bottom: 15px;
}

.titolo-jumbo h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 15px;
}

.descrizione-returnal p {
    color: white;
    font-size: 18px;
    width: 30%;
}

.bottoni {
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
}

.acquista-returnal button {
    background-color: #CD3D0F;
    outline: 2px solid #CD3D0F;
    border: 2px solid #CD3D0F;
}

.acquista-returnal button:hover {
    border: 2px solid black;
}

/* sezione immagini ratchet e returnal */

.ratchet-returnal {
    margin-top: 30px;
}

.immagini-giochi {
    max-width: 100%;
}

.immagini-giochi img {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
}

.immagini-giochi img:hover {
    position: relative;
    bottom: 10px;
    cursor: pointer;
}

#immagine-1 {
    outline: 2px solid #3D92D9;
    border: 2px solid white;
    background-color: white;
}

/* introduzione */

.introduzione {
    margin-top: 50px;
}

#no-limits {
    color: #0E75CF;
}

#titolo-ecco {
    margin-bottom: 30px
}

#ecco {
    font-size: 30px;
    font-weight: bold;
}

#tuffati {
    color: #6C6C6C;
}

/* console con immagine */

.console-info {
    margin-top: 50px;
}

.console {
    align-self: center;
}

#maggiori-info {
    background-color: #2D64E6;
    outline: 2px solid #2D64E6;
    border: 2px solid #2D64E6;
}

#maggiori-info:hover {
    border-color: white;
    filter: opacity(0.9);
}

.console-immagine {
    max-width: 100%;
}

.console-immagine img {
    max-width: 100%;
}

/* accessori */

.accessori {
    max-width: 100%;
    text-align: center;
}

.accessori img {
    max-width: 80%;
}

.immagine-trasparente img {
    filter: opacity(0.5);
}

.immagine-trasparente:hover img {
    filter: opacity(1);
    transition: 0.5s;
    cursor: pointer;
}

.accessori span sup {
    font-size: 8px;
}

#linea {
    background-color: #2D64E6;
    border-bottom: 2px solid #2D64E6;
    height: 2px;
    margin-top: 30px;
}

/* banner it takes two */

.it-takes-two {
    max-width: 100%;
    margin-top: 20px;
    position: relative;
}

.it-takes-two > img {
    max-width: 100%;
    min-height: 600px;
    object-fit: cover;
}

.it-takes-two-descrizione {
    position: absolute;
    bottom: 50px;
    left: 30px;
}

.it-takes-two-descrizione img {
    max-width: 20%;
    margin-bottom: 30px;
}

.it-takes-two-descrizione h2 {
    color: white;
    margin-bottom: 30px;
    width: 35%;
}

.it-takes-two-descrizione p {
    color: white;
    margin-bottom: 30px;
    width: 40%;
}

.it-takes-two-descrizione button {
    background-color: #CD3D0F;
    outline: 2px solid #CD3D0F;
    border: 2px solid #CD3D0F;
}

.it-takes-two-descrizione button:hover {
    border-color: black;
}

/* catalogo nuove uscite */ 

.uscite {
    background-color: #1F1F1F;
}

.uscite h2, .uscite h3 {
    color: white;
    padding: 15px 0;
}

.nuove-uscite {
    max-width: 100%;
}

.nuove-uscite img {
    max-width: 100%;
    border-radius: 15px;
}

.nuove-uscite span {
    color: white;
    display: inline-block;
    margin-bottom: 30px;
}

.nuove-uscite span sup {
    font-size: 8px;
}

/* PS4 */

.ps4 {
    margin-top: 30px;
}

.best-moment p {
    margin-top: 15px;
    color: #787878;
}

.esplora h2 span {
    font-size: 20px;
}

.ps4-description {
    margin: 50px 0;
}

.immagine-ps4 {
    max-width: 100%;
}

.immagine-ps4 img {
    max-width: 100%;
    margin-bottom: 10px;
}

.immagine-ps4 p {
    color: #787878;
    margin: 20px 0;
    font-size: 25px;
}

.immagine-ps4 button {
    background-color: #2D64E6;
    outline: 2px solid #2D64E6;
    border: 2px solid #2D64E6;
    margin-bottom: 20px;
}

.immagine-ps4 button:hover {
    border-color: white;
    filter: opacity(0.9);
}

/* parte playstation plus */

.playstation-plus {
    background-color: #BEBCBB;
}

.logo-plus {
    max-width: 100%;
    align-self: center;
}

.logo-plus img {
    max-width: 50%;
    margin-top: 50px;
}

.logo-plus p {
    margin: 20px 0;
}

.logo-plus button {
    background-color: #D9DADC;
    color: #3469E5;
    margin-bottom: 10px;
}

.logo-plus button:hover {
    box-shadow: 0 0 4px grey;
    transition: 0.5s;
}

.april-plus {
    max-width: 100%;
}

.april-plus img {
    max-width: 100%;
}

/* parte playstation store */

.playstation-store {
    margin-top: 50px;
}

.playstation-store p {
    color: #6B6B6B;
    margin: 30px 0;
}

.sconti {
    max-width: 100%;
}

.sconti img {
    max-width: 100%;
    margin-bottom: 20px;
}

/* parte playstation now */

.playstation-now {
    background-color: #161C3B;
}

.logo-now {
    max-width: 100%;
    align-self: center;
}

.logo-now img {
    max-width: 50%;
    margin-top: 50px;
}

.logo-now p {
    margin: 20px 0;
    color: white;
}

.logo-now button {
    background-color: #F5F5F5;
    color: #272727;
    margin-bottom: 10px;
}

.logo-now button:hover {
    box-shadow: 0 0 4px rgb(223, 223, 223);
    transition: 0.5s;
}

.april-now {
    max-width: 100%;
}

.april-now img {
    max-width: 100%;
}

/* parte social media */

.social-media {
    margin-top: 40px;
}

.social {
    max-width: 20%;
}

.social img {
    max-width: 100%;
    margin-bottom: 20px;
}

/* footer */

footer {
    background-color: #00439C;
    min-height: 500px;
    margin-top: 30px;
}

.logo-footer {
    margin-top: 60px;
}

.logo-footer p {
    margin-top: 20px;
    color: white;
}

.logo-footer p img {
    width: 20px;
    margin-right: 20px;
}

.lista-footer li {
    color: white;
    list-style-type: none;
}

.lista-footer li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.lista-footer {
    margin-top: 60px;
}

/* footer inferiore */

.logo-footer-inferiore img {
    max-width: 15%;
    margin-top: 30px;
}

.logo-footer-inferiore p, .logo-footer-inferiore a {
    color: white;
    font-size: 12px;
}

/* parte di media query per cambiamenti dimensioni */

@media all and (max-width: 576px) {

    .social {
        max-width: 100%;
    }

}


@media all and (max-width: 768px) {

    #banner-returnal {
        max-width: 50%;
        margin-bottom: 0;
    }

    .titolo-jumbo h2 {
        margin-bottom: 0;
    }

    .descrizione-returnal p {
        width: 100%;
    }

    .accessori span {
        display: none;
    }

    .april-plus {
        display: none;
    }

    .april-now {
        display: none;
    }

    .sconti img {
        max-width: 70%;
    }

}

@media all and (max-width: 992px) {

    .seconda-lista-nav {
        align-items: flex-start;
    }

    #lens {
        display: none;
    }

    .form-control {
        display: block;
        width: 300px;
    }
    
    .it-takes-two-descrizione img {
        max-width: 45%;
        margin-bottom: 50px;
    }
    
    .it-takes-two-descrizione h2 {
        color: white;
        margin-bottom: 30px;
        width: 100%;
    }
    
    .it-takes-two-descrizione p {
        color: white;
        margin-bottom: 30px;
        width: 100%;
    }

    .lista-footer {
        margin-top: 10px;
    }

    .logo-footer-inferiore img{
        max-width: 25%;
    }

}



