/* header */

.header-superiore {
    background-color: black;
    height: 25px;
}

.header-superiore span {
    float: right;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    margin-right: 10px;
    line-height: 25px;
    vertical-align: middle;
}

.header-inferiore {
    height: 70px;
}

.lista-nav .list-item {
    display: inline-block;
    margin-right: 5px;
    font-size: 13px;
}

.lista-nav .list-item a {
    text-decoration: none;
    color: black;
}

.lista-nav .list-item img {
    width: 10px;
    margin-left: 5px;
}

/* jumbo */

.jumbo {
    position: relative;
}

.jumbo img {
    width: 100%;
}

.jumbo-descrizione {
    position: absolute;
    bottom: 50px;
    left: 30px;
}

#banner-returnal {
    max-width: 20%;
}

.titolo-jumbo h2 {
    color: white;
    font-size: 20px;
}

.descrizione-returnal p {
    color: white;
    font-size: 18px;
    width: 30%;
}

.bottoni {
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
}

.acquista-returnal button {
    background-color: #CD3D0F;
}

.ratchet-returnal {
    margin-top: 30px;
}

.immagini-giochi {
    max-width: 100%;
}

.immagini-giochi img {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
}

#immagine-1 {
    outline: 2px solid #3D92D9;
    border: 2px solid white;
    background-color: white;
}